<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="${description}"/>
    <meta name="keywords" content="${keywords}" />
	<title>${title}</title>  
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"  />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="#{resource['css/dashboard.css']}" />
		
	<ui:insert name="externalstyles" />
	
	<ui:insert name="internalstyles" />
					
</h:head>

<h:body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#{request.contextPath}/index.xhtml">DMIT2015</a>
        </div>
        <div class="navbar-collapse collapse">
    		<ul class="nav navbar-nav navbar-right">
	            <li ><a href="/javawockee-web/pages/bmi.xhtml">BMI Calculator</a></li>
	            <li ><a href="/javawockee-web/pages/chineseZodiac.xhtml">Chinese Zodiac</a></li>
	            <li><a href="/javawockee-web/pages/chineseZodiac-ajax.xhtml">Chinese Zodiac AJAX</a></li>
	            <li><a href="/javawockee-web/pages/mortgageCalculator.xhtml"> Mortgage Calculator</a></li>
          	</ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="#{request.contextPath}/pages/bmi.xhtml">BMI Calculator</a></li>
            <li ><a href="#{request.contextPath}/pages/chineseZodiac.xhtml">Chinese Zodiac</a></li>
            <!--<li><a href="#{request.contextPath}/pages/chineseZodiac-ajax.xhtml">Chinese Zodiac AJAX</a></li>-->
            <li><a href="#{request.contextPath}/pages/mortgageCalculator.xhtml"> Mortgage Calculator</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <ui:insert name="maincontent">
          	NO MAIN CONTENT
          </ui:insert>
          
        </div>
      </div>
    </div>
    
</h:body>

</html>