<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BMI</title>  
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script><!-- delete when making charts -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</h:head>

<h:body>

<div class="container">
		<div class="jumbotron">
			<h1>BMI Calculator</h1>
		</div>
			
		<h:form>
			<p:messages id="messages" />	
			<div class="form-group">
				<p:outputLabel for="weight">Weight(in lbps):</p:outputLabel>
				<p:inputText id="weight" 
					value="#{bmiController.bmiBean.weight}"
					placeholder="enter your weight"
					required="true" 
					requiredMessage="Your Weight is required."
					styleClass="form-control">
				</p:inputText>
			</div>
			
			<div class="form-group">
				<p:outputLabel for="height">Height(in inches):</p:outputLabel>
				<p:inputText id="height" 
					value="#{bmiController.bmiBean.height}"
					placeholder="enter your height"
					required="true" 
					requiredMessage="Your height is required."
					styleClass="form-control">
				</p:inputText>
			</div>
			
			<p:commandButton value="Calculate" styleClass="btn btn-primary" 
				ajax="false"  
				actionListener="#{bmiController.calculate()}"/>		
		</h:form>
	</div>
	
</h:body>

</html>
