<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Canada Federal Tax Calculator</title>  
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</h:head>

<h:body>
	
	<div class="container">
		<div class="jumbotron">
			<h1>Canada Federal Tax Calculator</h1>
		</div>
			
		<h:form>
			<p:messages id="messages" />	
			<div class="form-group">
				<p:outputLabel for="username">Your Name:</p:outputLabel>
				<p:inputText id="username" 
					value="#{canadaFederalTaxController.canadaFederalTax.name}"
					placeholder="enter your name"
					required="true" 
					requiredMessage="Name is required."
					styleClass="form-control">
				</p:inputText>
			</div>
			
			<div class="form-group">
				<p:outputLabel for="taxableIncome">Taxable Income:</p:outputLabel>
				<p:inputText id="taxableIncome" 
					value="#{canadaFederalTaxController.canadaFederalTax.taxableIncome}"
					placeholder="enter your taxable income"
					required="true" 
					requiredMessage="Taxable Income is required."
					styleClass="form-control">
				</p:inputText>
			</div>
			
			<p:commandButton value="Calculate" styleClass="btn btn-primary" 
				ajax="false"  
				actionListener="#{canadaFederalTaxController.calculate()}"/>		
			<p:commandButton value="AJAX Calculate" styleClass="btn btn-primary" 
				ajax="true" update="messages"
				actionListener="#{canadaFederalTaxController.calculate()}"/>		
			
		
		</h:form>
	</div>
	
</h:body>

</html>