<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Chinese Zodiac</title>  
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</h:head>

<h:body>
	<div class="container">
		<div class="jumbotron">
			<h1>Kung Hsi Fa Tasi</h1>
<<<<<<< HEAD
=======
			<h:graphicImage value="#{chineseZodiacController.animalImageURL}"></p:outputLabel>
>>>>>>> branch 'master' of https://jfernandez3@bitbucket.org/jfernandez3/tutorialdmit.git
		</div>
			
		<h:form>
			<p:messages id="messages" />
			<p:graphicImage value="#{chineseZodiacController.animalImageURL}"></p:graphicImage>
			<div class="form-group">
				<p:outputLabel for="year">Birth Year:</p:outputLabel>
				<p:inputText id="year" 
					value="#{chineseZodiacController.birthYear}"
					placeholder="enter the year of your birth"
					required="true" 
					requiredMessage="The year of your birth is required."
					styleClass="form-control">
				</p:inputText>
			</div>
			
			<p:commandButton value="Get Animal" styleClass="btn btn-primary" 
				ajax="false"  
				actionListener="#{chineseZodiacController.calculate}"/>		
		</h:form>
	</div>
</h:body>

</html>
