<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	<ui:param name="title" value="Expenses" />
	<ui:define name="maincontent">

		<h:form>
			<p:panel id="expenseForm" header="Expense Form">
				<p:messages id="messages" />

				<div class="form-group">
					<p:outputLabel for="date">Date:</p:outputLabel>
					<p:calendar id="date"
						value="#{expenseController.currentExpense.date}" required="true"
						requiredMessage="The date is required">
					</p:calendar>
				</div>

				<div class="form-group">
					<p:outputLabel for="description">Description:</p:outputLabel>
					<p:inputTextarea id="description"
						value="#{expenseController.currentExpense.description}"
						required="true" requiredMessage="The description is required">
					</p:inputTextarea>
				</div>

				<div class="form-group">
					<p:outputLabel for="amount">Amount:</p:outputLabel>
					<p:inputText id="amount"
						value="#{expenseController.currentExpense.amount}" required="true"
						requiredMessage="The date is required">
						<f:convertNumber currencySymbol="$" type="currency"/>
					</p:inputText>
				</div>

				<p:commandButton value="Add Expense" styleClass="btn btn-primary"
					ajax="false" actionListener="#{expenseController.addExpense()}" />
			</p:panel>

		</h:form>

		<p:commandLink value="Expense List"
			actionListener="#{expenseController.addExpense()}"></p:commandLink>

	</ui:define>
</ui:composition>