<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Mortgage</title>

	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</h:head>

<h:body>
	<div class="container">
		<div class="jumbotron">
			<h1>Mortgage Payment Calculator</h1>
		</div>

		<h:form>
			<p>Use the following form to calculate the monthly payment for a
				fully amortized loan.</p>
			<div class="form-group">
				<p:outputLabel for="mortgageAmount">Mortgage Amount:</p:outputLabel>
				<p:inputText id="mortgageAmount"
					value="#{mortgageController.currentLoan.mortgageAmount}"
					required="true" requiredMessage="The mortgage amount is required."
					styleClass="form-control">
				</p:inputText>
			</div>

			<div class="form-group">
				<p:outputLabel for="interestRate">Interest Rate:</p:outputLabel>
				<p:inputText id="interestRate"
					value="#{mortgageController.currentLoan.annualInterestRate}"
					required="true" requiredMessage="The interest rate is required."
					styleClass="form-control">
				</p:inputText>
			</div>

			<div class="form-group">
				<p:outputLabel for="amortizationPeriod">Amortization Period:</p:outputLabel>
				<p:spinner id="amortizationPeriod"
					value="#{mortgageController.currentLoan.amortizationPeriod}"
					stepFactor="1" min="1" max="25" />
			</div>

			<p:commandButton value="Calculate" styleClass="btn btn-primary"
				ajax="false" actionListener="#{mortgageController.calculate()}" />

			<p:messages id="messages" />
			
			<p:chart type="bar" model="#{mortgageController.loanChart}"
				style="height:300px" />
				
			<p:dataTable var="mortgage" value="#{mortgageController.loanScheduleTable}"
			paginator="true" rows="12" paginatorPosition="bottom">
			
				<p:column headerText="Payment Number">
					<h:outputText value="#{mortgage.paymentNumber}" > 
					</h:outputText>
				</p:column>

				<p:column headerText="Interest Paid">
					<h:outputText value="#{mortgage.interestPaid}" > 
					<f:convertNumber currencySymbol="$" type="currency"/>
					</h:outputText>
				</p:column>

				<p:column headerText="Principal Paid">
					<h:outputText value="#{mortgage.principalPaid}" >
					<f:convertNumber currencySymbol="$" type="currency"/>
					</h:outputText>
				</p:column>

				<p:column headerText="Remaining Balance">
					<h:outputText value="#{mortgage.remainingBalance}" >
					<f:convertNumber currencySymbol="$" type="currency"/>
					</h:outputText>
				</p:column>
				
			</p:dataTable>

		</h:form>
	</div>
</h:body>

</html>

<!-- 
What is the difference between JavaServer Faces and PrimeFaces?
JSF is used to create web components while Primefaces is a feature added to improve JSF.

What are JSF-EL value expressions and JSF-EL method expressions used for?
They are used to bind and connect data from the web application to the server.

For a JSF/PrimeFaces command button component, you could use the either the action attribute or the
actionListener attribute to specify a method to execute when the button is clicked, what criteria would you
use to determine which attribute to use?
Action Listener is used when you need to stay on the same page while Action directs the user to another page.

Which core JSF component can you use format an output component value in currency format?
In this assignment I used: <f:convertNumber />

When would you use the CDI scope @SessionScoped instead of @ViewScoped?
@SessionScoped is used when there are multiple HTTP requests.
 -->
