<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	<ui:param name="title" value="BMI" />
	<ui:define name="maincontent">
		<div class="container">
			<div class="jumbotron">
				<h1>BMI Calculator</h1>
			</div>

			<h:form>
				<p:messages id="messages" />
				<div class="form-group">
					<p:outputLabel for="weight">Weight(in lbps):</p:outputLabel>
					<p:inputText id="weight" value="#{bmiController.bmiBean.weight}"
						placeholder="enter your weight" required="true"
						requiredMessage="Your Weight is required."
						styleClass="form-control">
					</p:inputText>
				</div>

				<div class="form-group">
					<p:outputLabel for="height">Height(in inches):</p:outputLabel>
					<p:inputText id="height" value="#{bmiController.bmiBean.height}"
						placeholder="enter your height" required="true"
						requiredMessage="Your height is required."
						styleClass="form-control">
					</p:inputText>
				</div>

				<p:commandButton value="Calculate" styleClass="btn btn-primary"
					ajax="false" actionListener="#{bmiController.calculate()}" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>