<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	<ui:param name="title" value="Chinese Zodiac" />
	<ui:define name="maincontent">
		<div class="container">
			<div class="jumbotron">
				<h1>Kung Hsi Fa Tasi</h1>
			</div>

			<h:form>
				<p:messages id="messages" />
				<p:graphicImage value="#{chineseZodiacController.animalImageURL}"></p:graphicImage>
				<div class="form-group">
					<p:outputLabel for="year">Birth Year:</p:outputLabel>
					<p:inputText id="year" value="#{chineseZodiacController.birthYear}"
						placeholder="enter the year of your birth" required="true"
						requiredMessage="The year of your birth is required."
						styleClass="form-control">
					</p:inputText>
				</div>

				<p:commandButton value="Get Animal" styleClass="btn btn-primary"
					ajax="false" actionListener="#{chineseZodiacController.calculate}" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>