<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="Mortgage Calculator" />
	
	<ui:define name="maincontent">
		<div class="container">
			<div class="jumbotron">
				<h1>Mortgage Payment Calculator</h1>
			</div>

			<h:form>
				<p>Use the following form to calculate the monthly payment for a
					fully amortized loan.</p>
				<div class="form-group">
					<p:outputLabel for="mortgageAmount">Mortgage Amount:</p:outputLabel>
					<p:inputText id="mortgageAmount"
						value="#{mortgageController.currentLoan.mortgageAmount}"
						required="true" requiredMessage="The mortgage amount is required."
						styleClass="form-control">
					</p:inputText>
				</div>

				<div class="form-group">
					<p:outputLabel for="interestRate">Interest Rate:</p:outputLabel>
					<p:inputText id="interestRate"
						value="#{mortgageController.currentLoan.annualInterestRate}"
						required="true" requiredMessage="The interest rate is required."
						styleClass="form-control">
					</p:inputText>
				</div>

				<div class="form-group">
					<p:outputLabel for="amortizationPeriod">Amortization Period:</p:outputLabel>
					<p:spinner id="amortizationPeriod"
						value="#{mortgageController.currentLoan.amortizationPeriod}"
						stepFactor="1" min="1" max="25" />
				</div>

				<p:commandButton value="Calculate" styleClass="btn btn-primary"
					ajax="false" actionListener="#{mortgageController.calculate()}" />

				<p:messages id="messages" />

				<p:chart type="bar" model="#{mortgageController.loanChart}"
					style="height:300px" />

				<p:dataTable var="mortgage"
					value="#{mortgageController.loanScheduleTable}" paginator="true"
					rows="12" paginatorPosition="bottom">

					<p:column headerText="Payment Number">
						<h:outputText value="#{mortgage.paymentNumber}">
						</h:outputText>
					</p:column>

					<p:column headerText="Interest Paid">
						<h:outputText value="#{mortgage.interestPaid}">
							<f:convertNumber currencySymbol="$" type="currency" />
						</h:outputText>
					</p:column>

					<p:column headerText="Principal Paid">
						<h:outputText value="#{mortgage.principalPaid}">
							<f:convertNumber currencySymbol="$" type="currency" />
						</h:outputText>
					</p:column>

					<p:column headerText="Remaining Balance">
						<h:outputText value="#{mortgage.remainingBalance}">
							<f:convertNumber currencySymbol="$" type="currency" />
						</h:outputText>
					</p:column>

				</p:dataTable>

			</h:form>
		</div>
	</ui:define>
</ui:composition>